
<div class="row justify-content-center">
    <div icon="sunny">
    <span class="sun"></span>
    </div>

    <div icon="cloudy">
    <span class="cloud"></span>
    <span class="cloud"></span>
    </div>

    <div icon="snowy">
    <span class="snowman"></span>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </div>

    <div icon="stormy">
    <span class="cloud"></span>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </div>

    <div icon="supermoon">
    <span class="moon"></span>
    <span class="meteor"></span>
    </div>

</div>